<?xml version="1.0" encoding="utf-8" ?>
<module_schema namespace="Honeybee\Domain">

    <module_definition name="Event">
        <implementor>\Honeybee\Core\Dat0r\Module</implementor>
        <document_implementor>\Honeybee\Core\Dat0r\Document</document_implementor>
        <description>
            Holds the structure definition for Event documents.
        </description>
        <option name="prefix">event</option>
        <option name="identifier_field">identifier</option>
        <option name="slugPattern">event-{shortId}</option>
        <!-- <option name="act_as_tree">yes</option>
        <option name="tree_label_field">title</option> -->
        <fields>

            <field name="title" type="text">
                <option name="mandatory">true</option>
            </field>

            <field name="description" type="textarea">
                <option name="use_markdown">true</option>
            </field>

            <field name="date" type="text" />

            <field name="guest_lists" type="reference">
                <option name="references">
                    <option>
                        <option name="module">\Honeybee\Domain\Guestlist\GuestlistModule</option>
                        <option name="identity_field">identifier</option>
                        <option name="display_field">title</option>
                    </option>
                </option>
            </field>

            <field name="assignee" type="reference">
                <option name="max">1</option>
                <option name="references">
                    <option>
                        <option name="module">\Honeybee\Domain\User\UserModule</option>
                        <option name="identity_field">identifier</option>
                        <option name="display_field">username</option>
                    </option>
                </option>
            </field>

            <!-- Honeybee workflow integration; dont touch!! -->
            <field name="meta" type="key-value">
                <description>Holds a set of generic attributes.</description>
                <option name="constraints">
                    <option name="value_type">dynamic</option>
                </option>
            </field>
            <field name="workflowTicket" type="aggregate">
                <option name="modules">
                    <option>WorkflowTicket</option>
                </option>
            </field>
        </fields>
    </module_definition>

    <aggregate_definition name="WorkflowTicket">
        <document_implementor>\Honeybee\Core\Dat0r\WorkflowTicket</document_implementor>
        <description>
            The WorkflowTicket aggregate holds reflects the current state of an documents workflow state.
        </description>
        <fields>
            <field name="workflowName" type="text" />
            <field name="workflowStep" type="text" />
            <field name="owner" type="text" />
            <field name="blocked" type="boolean" />
            <field name="waitUntil" type="text" />
            <field name="stepCounts" type="key-value" >
                <option name="constraints">
                    <option name="value_type">integer</option>
                </option>
            </field>
            <field name="lastResult" type="aggregate">
                <option name="modules">
                    <option>PluginResult</option>
                </option>
            </field>
        </fields>
    </aggregate_definition>

    <aggregate_definition name="PluginResult">
        <description>
            A PluginResult reflects a state resulting from executing a workflow plugin.
        </description>
        <fields>
            <field name="state" type="integer" />
            <field name="gate" type="text" />
            <field name="message" type="text" />
        </fields>
    </aggregate_definition>

</module_schema>
