.field-wrapper-description .epic-editor
{
    margin-left: 0px !important;
}

.form-horizontal .controls.markdown-box
{
    margin-left: 20px;
}

.event-app-container
{
    background-image: url('../binaries/bg_blur.jpg');
    padding-bottom: 45px;
}

.event-box
{
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.5);
}

.event-box .title > label,
.event-box .description > label
{
    font-style: italic;
}

.app-title,
.event-selector-label,
.event-app-container .event
{
    color: #efefef;
    font-family: 'Marmelad', sans-serif;
}

.event-app-container .select2-container
{
    width: 100%;
}

.event-app-container > .row-fluid > .select2-container
{
    width: 45%;
}

.event-app-container .event
{
    display: none;
}

.event-app-container ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.event-app-container .events-list .event > .description
{
    background: #efefef;
}

.event-app-container .guestlist .header
{
    background-color: #3a87ad;
    color: #ffffff;
    padding: 5px;
    background: none repeat scroll 0 0 #5ca8cf;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #3a87ad;
}

.event-app-container .guestlist > .title
{
    margin: 0;
    color: #ffffff;
    padding: 5px;
    text-shadow: 1px 1px 1px #ababab;
}

.event-app-container .guestlists-list .guestlist
{
    overflow: hidden;
    margin-top: 20px;
}

.event-app-container .guestlists-list .guestlist > .description
{
    display: none;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.event-app-container .guestlists-list .guestlist > .description.reveal
{
    display: block;
    opacity: 1;
}

.event-app-container .guests-list
{
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 0 20px;
    margin: 0 auto 20px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(233, 233, 233, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(233, 233, 233, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(233, 233, 233, 0.2);
}

.event-app-container .guests-list .guest
{
    overflow: hidden;
    border-bottom: 1px solid rgba(233, 233, 233, 0.5);
    margin-top: 10px;
    padding-bottom: 20px;
}

.event-app-container .guests-list .guest:last-child
{
    border-bottom: none;
}

.event-app-container .guests-list .guest .label:hover
{
    cursor: pointer;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 233, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 233, 233, 0.6);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 10px rgba(233, 233, 233, 0.6);
}

.event-app-container .guests-list .guest:first-child
{
    margin-left: 0;
}

.step-back
{
    opacity: 0.3;
}

.guest .hb-icon-checkmark
{
    display: none;
}

.guest.completed .hb-icon-checkmark
{
    display: inline-block;
}

.guest.completed
{
    opacity: 0.6;
}

.username
{
    font-size: 12pt;
}

.toggle-description
{
    padding: 5px;
}
